
# Dependency directories
node_modules/

# gatsby files
.cache/
public
*.log

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity
.env

# Other
.idea/
.idea/*